.root {
    -fx-font-family: "Segoe UI", sans-serif;
    -fx-background-color: transparent;
}

.login-pane, .signUp-pane {
    -fx-background-color: rgba(0, 0, 0, 0.6);
    -fx-padding: 40px;
    -fx-spacing: 20px;
    -fx-alignement: center;
}

.title {
    -fx-text-fill: white;
    -fx-font-size: 24px;
    -fx-font-wight: bold;
}

.text-field, .password-field, .choice-box {
    -fx-background-color: #ffffcc;
    -fx-background-radius: 10;
    -fx-border-color: transparent;
    -fx-padding: 10px;
    -fx-font-size: 14px;
    -fx-pref-width: 80%;
    -fx-max-width: 400px;
}

.button {
    -fx-background-color: #00b894;
    -fx-text-fill: white;
    -fx-background-radius: 20;
    -fx-padding: 10 20;
    -fx-pref-width: 60%;
    -fx-max-width: 300px;
    -fx-cursor: hand;
}

.button:hover {
    -fx-background-color: #26a69a;
}
.button:pressed {
    -fx-background-color: #00796b;
}

.ImageView {
    -fx-fit-width: 100%;
    -fx-fit-height: 100%;
}