#root {
    -fx-background-color: #222831;
}

.scroll-pane {
    -fx-background-color: transparent;
    -fx-background-insets: 0;
    -fx-padding: 0;
}

.scroll-pane > .viewport {
    -fx-background-color: transparent;
}

.scroll-pane .content {
    -fx-background-color: transparent;
}

.grid-pane {
    -fx-background-color: transparent;
    -fx-fill-height: true;
}

.campanha-card {
    -fx-background-color: transparent;
    -fx-background-radius: 10px;
    -fx-border-radius: 10px;
    -fx-effect: dropshadow(gaussian, rgba(0,0,0,0.4), 12, 0.2, 0, 4);
}

.campanha-label {
    -fx-font-family: "Constantia";
    -fx-text-fill: white;
    -fx-padding: 6px 12px;
    -fx-background-radius: 8px;
    -fx-effect: dropshadow(gaussian, #1a1a1a, 2, 0.8, 0, 0),
                dropshadow(gaussian, #1a1a1a, 2, 0.8, 1, 1),
                dropshadow(gaussian, #1a1a1a, 2, 0.8, 1, -1),
                dropshadow(gaussian, #1a1a1a, 2, 0.8, -1, 1);
}

.labelTitle {
    -fx-border-radius: 20px;
    -fx-border-color: linear-gradient(to right, transparent, #c9b37c, transparent);
    -fx-border-style: solid
}

.sidebar {
    -fx-background-color: rgba(0, 0, 0, 0.75);
}

.sidebar-border {
    -fx-background-color: #c9b37c;
}

.plus-icon {
    -fx-background-radius: 100%;
    -fx-background-insets: 0;
    -fx-background-color: linear-gradient(from 0% 0% to 25% 100%, #f0f0f0, #808080, #1a1a1a);
    -fx-text-fill: white;
    -fx-font-family: "Courier New";
    -fx-alignment: center;
    -fx-effect: dropshadow(three-pass-box, rgba(0,0,0,0.4), 10, 0.5, 0, 4);
    -fx-padding: 0;
}

.plus-icon:hover {
    -fx-text-fill: black;
    -fx-background-color: linear-gradient(from 25% 100% to 0% 0%, #f0f0f0, #808080, #1a1a1a);
    -fx-effect: dropshadow(three-pass-box, rgba(255, 255, 255, 0.3), 8, 0.4, 0, 3);
    -fx-cursor: hand;
}

.popup-form {
    -fx-background-color: rgba(22, 22, 22, 0.92);
    -fx-padding: 30;
    -fx-spacing: 15;
    -fx-border-radius: 20;
    -fx-background-radius: 20;
    -fx-effect: dropshadow(gaussian, rgba(0, 0, 0, 0.65), 20, 0.3, 0, 8);
    -fx-max-width: 450px;
    -fx-min-width: 320px;
}

.popup-title {
    -fx-font-size: 38px;
    -fx-text-fill: #c8a96a;
    -fx-font-family: "Constantia";
}

.text-field, .text-area {
    -fx-background-color: rgba(255,255,255,0.1);
    -fx-text-fill: white;
    -fx-prompt-text-fill: #cccccc;
    -fx-font-size: 14px;
    -fx-border-radius: 10;
    -fx-background-radius: 10;
    -fx-border-color: #555;
    -fx-border-width: 1px;
}

.popup-form .button {
    -fx-background-color: #c8a96a;
    -fx-text-fill: black;
    -fx-font-weight: bold;
    -fx-cursor: hand;
    -fx-border-radius: 12px;
    -fx-background-radius: 12px;
    -fx-padding: 8px 16px;
}

.popup-form .button:hover {
    -fx-background-color: #d8ba76;
}

.menu-context {
    -fx-background-color: linear-gradient(from 0% 0% to 100% 100%, #f0f0f0, #808080, #1a1a1a);
    -fx-background-radius: 5px 20px 20px 20px;
    -fx-padding: 10px;
}

.menu-item {
    -fx-background-color: transparent;
    -fx-background-radius: 10px;
    -fx-border-radius: 10px;
    -fx-padding: 8px 12px;
}

.menu-item:hover {
    -fx-background-color: #c8a96a;
}

.custom-alert {
    -fx-font-family: "Constantia", "Segoe UI", serif;
    -fx-background-color: #181a1b;
    -fx-border-color: #c8a96a;
    -fx-border-width: 2px;
    -fx-border-radius: 2px;
    -fx-background-radius: 8px;
    -fx-padding: 16px;
    -fx-effect: dropshadow(gaussian, #c8a96a55, 10, 0.4, 0, 2);
}

.custom-alert .dialog-pane {
    -fx-background-color: #181a1b;
    -fx-border-color: #c8a96a;
    -fx-border-radius: 16px;
    -fx-background-radius: 16px;
}

.custom-alert .header-panel {
    -fx-background-color: transparent; /* Remove o branco */
    -fx-padding: 10;
}

.custom-alert .header-panel .label {
    -fx-text-fill: #f5ecd6;
    -fx-font-size: 16px;
    -fx-font-weight: bold;
}

.custom-alert .content.label {
    -fx-text-fill: #c8a96a;
    -fx-font-size: 14px;
}

/* Ícone do alerta */
.custom-alert .graphic-container {
    -fx-background-color: transparent;
}

/* Botões */
.custom-alert .button-bar .button {
    -fx-background-color: #c8a96a;
    -fx-text-fill: #181a1b;
    -fx-font-weight: bold;
    -fx-border-radius: 12px;
    -fx-background-radius: 12px;
    -fx-cursor: hand;
}

.custom-alert .button-bar .button:hover {
    -fx-background-color: #f5ecd6;
}